<%- include('home.html') %>
<style>
    body{
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;

    
    }
    .ml{
        margin-left: 12px;


    }
</style>

<head>

    <a href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css"></a>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
</head>

 

        <button type="button" class="btn btn-primary mb-3 ml" data-bs-toggle="modal" data-bs-target="#myModal" onclick="show_mode();">
           Add User
         </button

         class="container-fluid">
         <!-- DataTales Example -->
         <div class="card shadow mb-4">    
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-dark">Accounts Details</h6>
             </div>
          
               <div class="container my-5">
                   <div class="table-responsive">
                       <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                           <thead>
                               <tr>
                                   <th>Name</th>
                                   <th>Phone</th>
                                   <th>User Name</th>
                                <th>Action</th>
                         
                               </tr>
                           </thead>
                         
                           <tbody>
                               <% data.forEach( function(d){ %>
                                   <tr>
                                       <td><%= d.name %></td>
                                       <td><%= d.phone %></td>
                                       <td><%= d.user_name %></td> 
                                    <td> <span  class="btn btn-primary" onclick="edit(`<%= d._id%>`,`<%= d.name%>`,`<%= d.phone%>`,`<%= d.user_name%>`,`<%= d.password%>`)">EDIT </span></td>


                                 
                                 
                                   </tr> 
                              <% })%>
                              
                           </tbody>
                       </table>
                   </div>
               </div>
    
       <!-- /.container-fluid -->

<div class="modal fade" id="myModal"   role="dialog" aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Account </h5>
               <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close" > 
                   <span aria-hidden="true">&times;</span>
               </button>
        </div>

        <div class="modal-body">

            <form action="/save_user" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter First Name">
                    </div>
                    <div class="col-lg-12">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter phone number">
                    </div>
                    <div class="col-lg-12">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Enter Username">
                    </div>
                    <div class="col-lg-12">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>


        </div>
        </div>
        </div>


        <div class="modal fade" id="editModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User Details </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
                    </div>

                    <div class="modal-body">

                        <form action="/edit_user" method="post">
                            <input type="hidden" name="_id" id="_id">
                            <div class="row">
                                <div class="col-lg-12">

                                    <label>Name</label>
                                    <input type="text" class="form-control" name="_name" id="_name">
                                </div>
                                <div class="col-lg-12">

                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="_phone" id="_phone">
                                </div>
                                <div class="col-lg-12">

                                    <label>User Name</label>
                                    <input type="text" class="form-control" name="_user_name" id="_user_name">
                                </div>






                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
        </div>


        <script>
         

            function show_mode() {
                $('#myModal').modal('show');
            }

            function edit(_id, name, phone, user_name, password) {
                $('#_name').val(name)
                $('#_phone').val(phone)
                $('#_user_name').val(user_name)
                $('#_password').val(password)
                $('#_id').val(_id)
                $('#editModal').modal('show');
            }
        </script>

        <!-- Footer -->
        <footer class="sticky-footer" style="background-color: rgb(200, 255, 200);">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span style="font-family: 'poppins';">Copyright &copy; Tabaarak Workshop 2023</span>
                </div>
            </div>
        </footer>
       